{% load ajax_helpers %}

<canvas id="{{ datatable.table_id }}" width="400" height="400"></canvas>

<script>


    (function () {

        var cell_data;
        var table = {{ datatable.model_table_setup }};
        table.find_column = django_datatables.PythonTable.prototype.find_column

        var labels = [];
        var datasets = [];
        var min_date = null;
        var max_date = null;

        for (var i = 0; i < table.initsetup.colOptions.length; i++) {

            if (i > 0) {
                datasets[i - 1] = {
                    label: table.row_titles[i],
                    data: [],
                    borderWidth: 1,
                    datalabels: {
                        align: 'top',
                        color: '#000000',
                        anchor: 'end'
                    },
                    borderColor: '#' + table.initsetup.colOptions[i].colour,
                    lineTension: 0.4,
                    backgroundColor: []
                };
            }

            for (var j = 0; j < table.data.length; j++) {
                if (table.initsetup.colOptions[i]['render'] != undefined) {
                    render = new django_datatables.column_render(i, table.initsetup.colOptions[i]['render'], table);
                    cell_data = render(table.data[j][i], null, table.data[j]);
                } else {
                    cell_data = table.data[j][i];
                }
                if (cell_data == null) {
                    cell_data = '';
                }
                if (i > 0) {
                    datasets[i - 1].data.push(cell_data);
                    datasets[i - 1].backgroundColor.push('#' + table.initsetup.colOptions[i].colour);

                } else {
                    labels.push(cell_data);
                }
                if(i === 0) {
                    if(min_date === null) {
                        min_date = cell_data;
                    }
                    max_date = cell_data;
                }
            }
        }

        var x_axis = {
            {% if datatable.line_chart_report.stacked %}stacked: true,{% endif %}
            display: true,
            {% if datatable.line_chart_report.x_label %}
                title: {
                    display: true,
                    text: '{{ datatable.line_chart_report.x_label|safe|escapejs }}',
                },
            {% endif %}
                type: 'time',
                time: {
                    unit: '{{ datatable.line_chart_report.get_chart_scale}}',
                    displayFormats: {
                        week: 'MMM YY',
                    }
                }
        };



        var y_axis = {
            {% if datatable.line_chart_report.stacked %}stacked: true,{% endif %}

            display: true,
            {% if datatable.line_chart_report.y_label %}
                title: {
                    display: true,
                    text: '{{ datatable.line_chart_report.y_label|safe|escapejs }}',
                }
            {% endif %}
        };
        var ctx{{ datatable.table_id }} = document.getElementById('{{ datatable.table_id }}').getContext('2d');

        datasets = datasets.concat(table.targets);

        var line{{ datatable.table_id }} = new Chart(ctx{{ datatable.table_id }}, {
            {% if datatable.line_chart_report.show_totals %}plugins: [ChartDataLabels],{% endif %}
            type: 'line',
            data: {labels: labels, datasets: datasets},
            options: {
                maintainAspectRatio: false,
                scales: {
                    // This is because there is a bug in the library,
                    // where the axis label don't swap properly on orientation change.
                    y: y_axis,
                    x: x_axis,
                },
                responsive: true,
                legend: {
                    position: 'top',
                    display: false
                },
            }
        });
    })();

</script>
