{% extends 'report_builder_examples/base.html' %}

{% block head %}

    <link href="/static/report_builder/query_builder/css/query-builder.default.css" rel="stylesheet">
    <script type="text/javascript" src="/static/report_builder/dot/js/doT.js"></script>
    <script type="text/javascript" src="/static/report_builder/jquery_extendext/js/jQuery.extendext.js"></script>
    <script type="text/javascript" src="/static/report_builder/query_builder/js/query-builder.js"></script>

{% endblock %}
{% block content %}


    hello world



    <div id="builder">here</div>
    <script>

        var rules_basic = {
            condition: 'AND',
            rules: []
        };

        $('#builder').queryBuilder({

            filters: [{
                id: 'name',
                label: 'Name',
                type: 'string'
            }],

            //rules: rules_basic
        });


    </script>
{% endblock %}