Django==5.0.7
psycopg2-binary>=2.8
django-crispy-forms==1.14.0

#django-tab-menus==0.0.15
git+https://github.com/jonesim/django-menus.git@ad597ee3969e730e9760b1a596af7fb3aee42f3a

# django-filtered-datatables==0.0.21
git+https://github.com/jonesim/django-datatables.git@f6eec4584d900027626c9ba91538ba2af8f3cf35

# django-nested-modals==0.0.21
git+https://github.com/jonesim/django-modals.git@6c932d7b814f4778b26255dc4103891d6d65c81f

# django-ajax-helpers==0.0.20
git+https://github.com/jonesim/ajax-helpers.git@7ea2d695e93c14a7bc37bf7a1f5c951cc83ba57a

time-stamped-model==0.2.3
date-offset==0.0.2
django-debug-toolbar==4.3.0

python-dateutil==2.8.2
