Django==5.1.3
psycopg2-binary>=2.8
django-crispy-forms==1.14.0

ajax-advanced-helpers==1.0.4
django-advanced-menus==1.0.0
django-advanced-modals==1.0.0
django-advanced-datatables==1.0.0

time-stamped-model==0.2.12
date-offset==0.0.2
django-debug-toolbar==6.1.0

python-dateutil==2.8.2
expression-builder==0.0.12
