{% load ajax_helpers %}




<canvas id="{{ datatable.table_id }}" width="400" height="400"></canvas>

<script>


    (function () {

        var cell_data, row_class;
        var table = {{ datatable.model_table_setup }};
        table.find_column = django_datatables.PythonTable.prototype.find_column

        var labels = [];
        var datasets = [];

        for (var i = 0; i < table.initsetup.colOptions.length; i++) {

            if (i > 0) {
                datasets[i - 1] = {
                    label: table.row_titles[i],
                    data: [],
                    borderWidth: 1,
                    datalabels: {
                        align: 'top',
                        color: '#000000',
                        anchor: 'end'
                    },
                    backgroundColor: []
                };
            }

            for (var j = 0; j < table.data.length; j++) {
                if (table.initsetup.colOptions[i]['render'] != undefined) {
                    render = new django_datatables.column_render(i, table.initsetup.colOptions[i]['render'], table);
                    cell_data = render(table.data[j][i], null, table.data[j]);
                } else {
                    cell_data = table.data[j][i];
                }
                if (cell_data == null) {
                    cell_data = '';
                }
                if(i > 0) {
                    datasets[i-1].data.push(cell_data);
                    var colours = table.initsetup.colOptions[i].colours;
                    if(cell_data < 0) {
                        datasets[i-1].backgroundColor.push('#' + colours.negative);
                    } else {
                        datasets[i-1].backgroundColor.push('#' + colours.positive);
                    }
                } else {
                    labels.push(cell_data);
                }
            }
        }

    var ctx{{ datatable.table_id }} = document.getElementById('{{ datatable.table_id }}').getContext('2d');
    var bar{{ datatable.table_id }} = new Chart(ctx{{ datatable.table_id }}, {
        type: 'bar',
        data: {labels: labels, datasets: datasets},
        options: {
            title: {
                display: false,
            },
            responsive: true,
            legend: {
                position: 'top',
                display: false
            },
        }
    });

    })();
</script>
