<!doctype html>
{% load static ajax_helpers src_code %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% lib_include 'ajax_helpers' 'Bootstrap' 'FontAwesome' module='ajax_helpers.includes' %}
    {% lib_include 'Modals' 'Toggle' 'select2' 'JQueryUI' 'TinyMce' module='django_modals.includes' %}
    {% lib_include module='django_menus.includes' %}
</head>

<body>


<nav class="navbar navbar-expand-lg bg-dark navbar-dark active-bar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{ menus.main_menu.render }}
    </div>
    <div class="text-light">
        {{ menus.user_menu.render }}
    </div>
</nav>


<div class="m-1 text-right">
    <img src="{{ version_img }}">
    <a class="btn btn-outline-secondary btn-sm" href="{{ home_page }}"><i class="fab fa-github text-dark"></i>GitHub</a>
</div>
<div class="p-4">
    {% block extra-title %}
    {% endblock %}

    <h4>Ajax Helpers Demo Page</h4>
    {{ description|safe }}
    <br>

    <hr>
    <p>Django returns a command to display a message</p>
    {% ajax_button 'AJAX message' 'test_ajax' %}

    <hr>
    <p>Django returns a command to replace html contents of an element</p>
    {% ajax_button 'AJAX replace html' 'test_html' %}
    <br><br>
    <div id="html_test">Contents to be replaced</div>

    <hr>
    <p>Message followed by redirect command</p>
    {% ajax_button 'AJAX with redirect from django' 'redirect' %}

    <hr>
    <p>Simple html form sending data to django which returns a message to user</p>

    <form id="form_id">
        <input name="field1" type="text">
    </form>
    <br>


    {% send_form_button '<span><i class="fas fa-save"></i></span> Submit' 'form_id' %}

    <hr>
    <p>Uses Django form class to generate form and validate</p>
    <div>
        <form id="django_form_id">
            {{ form }}
        </form>
        {% send_form_button 'Django Submit' 'django_form_id' %}
    </div>

    <hr>
    <p>Button to download a Django View generated file </p>
    {% ajax_button 'Download text file' 'download_text' %}
    <br><br>
    {% ajax_button 'Download binary file using Blob' 'download_blob' blob=True %}
    <br><br>
    {% ajax_button 'Download binary file using Base64' 'download_base64' %}

    <hr>
    <p>Button to upload a file to View</p>
    {% upload_file %}

    <hr>
    <h4>Ajax Tooltips</h4>
    <p>Can pass data to django with multiple data attributes in the element</p>
    <p>CSS for tooltip can be specified</p>

    <span data-django="today" id='tooltip_div-1' class="p-2 bg-primary">HTML Tooltip</span>
    {% tooltip_init '#tooltip_div-1' 'demo_tooltip' %}

    <span data-django="yesterday" id='tooltip_div-2' class="p-2 bg-warning">HTML Tooltip</span>
    {% tooltip_init '#tooltip_div-2' 'demo_tooltip' 'other-class' %}

    <hr>
    <h4>Ajax Timer</h4>
    <p>Example of a timer updating every 5 seconds while tab is visible</p>
    <p class="pl-4">Calls a function in the view named timer_<i>name of timer</i></p>

    <div id="time_div">Time should appear here</div>
    {% ajax_timer 'demo_interval' 5000 %}

</div>
</body>
</html>